@font-face {
    font-family: 'Garamond';
    src: url('Garamond.ttf') format('truetype');
}

body {
    background-image: url('1337196.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.col-7{
    color: white;
    font-family: Garamond, serif;
    font-size: 20px;
}
.nav_bar{
    font-family: Garamond, serif;
    color: white;
    font-size: 28px;
    font-weight: bold;

}
.nav_text{
    display: flex;
    align-items: center;
    justify-content: right;
}
.col-5{
    color: white;
    font-family: Garamond, serif;
}
.col-1{
    color: white;
    font-family: Garamond, serif;
}
.nav_logo{
    background: url(../free-icon-clock-2972528.png) no-repeat left center;
    background-size: 6%;
}
.my_photo{
    background: url(../clock.jpg) no-repeat right center;
    background-size: 100%;
    width: 500px;
    height: 550px;
}
.container {
    margin-top: 20px;
}
.button_js{
    text-align: center;
}
#myButton{
    border: none; 
    background-color: lavender; 
    font-family: 'Garamond', serif; 
    font-size: 20px;
    font-weight: bold;
    color: blue;
    width:  170px;
    height: 50px;
    border-radius: 25px;
}
#demo {
    margin-top: 20px;
}
.col-12{
    text-align: center;
    font-family: Garamond, serif;
    color: white;
    
}
.headerr{
    font-size: 40px;
    font-weight: bold;
}
.row.form_reg {
    width: 400px;
    margin: 0 auto;
}

.form {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.links{
    font-size: 30px;
    font-weight: bold;
}
.btn_red.btn_reg {
    background-color: red;
    color: white;
    border: none; 
    border-radius: 25px;
    font-size: 20px;
    width:  170px;
    height: 50px;
    font-weight: bold;
  }
  
  .btn_red.btn_reg:hover {
    background-color: darkred; 
    color: white;
  }
  .btn_red{
    background-color: red;
    color: white;
    border: none; 
    border-radius: 25px;
    font-size: 20px;
    width:  170px;
    height: 50px;
    font-weight: bold;
  }
  .btn_red:hover {
    background-color: darkred; 
    color: white;
  }
  a{
    font-family: Garamond, serif;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background-color: darkred;
  }